.cs-bar {
    background-color: #32383E !important;
}

.cs-btn:hover {
    border-color: white;
    background-color: #F5F5F5;
    color: black;
    cursor: pointer;
}

.cs-btn {
    border-color: white;
    background-color: #1A9CB0;
    color: white;
}