<nav class="navbar navbar-expand-lg navbar-dark bg-dark cs-bar">
    <fc-brand-section></fc-brand-section>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">{{this.activePage}}
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <form cmIf="this.isSearchEnabled" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0 cs-btn" type="submit">Search</button>
        </form>
        <fc-greeter-section></fc-greeter-section>
        <fc-sign-in-section></fc-sign-in-section>
    </div>
</nav>