<nav class="navbar navbar-expand-lg navbar-dark bg-dark cs-bar">
    <a class="navbar-brand" href="#">
        <img id="brand" width="50" height="50" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <form cmIf="scope.isSearchEnabled" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0 cs-btn" type="submit">Search</button>
        </form>
        <form class="form-inline">
            <div class="container">
                <button type="button" class="btn btn-outline-info my-2 cs-btn" data-toggle="modal" data-target="#signInModal">
                    Sign In
                </button>
            </div>
        </form>
    </div>
</nav>