<div class="panel">
    <div class="row">
        <div class="col">
            <span id="{{this.EditorMode.Add}}" class="oi oi-plus icon {{this.mode === this.EditorMode.Add ? 'selected-mode' : '' }}"></span>
        </div>
    </div>
    <div cmIf="this.selected" class="row">
        <div class="col">
            <span id="{{this.EditorMode.Edit}}" class="oi oi-pencil icon {{this.mode === this.EditorMode.Edit ? 'selected-mode' : '' }}"></span>
        </div>
    </div>
    <div cmIf="this.selected" class="row">
        <div class="col">
            <span id="{{this.EditorMode.Delete}}" class="oi oi-x icon {{this.mode === this.EditorMode.Delete ? 'selected-mode' : '' }}"></span>
        </div>
    </div>
</div>