<div class="archive">
    <div class="row justify-content-center">
        <div class="{{this.isFullTable() ? 'col-11' : 'col-6' }}">
            <fc-archive-table cmParams="{articles: this.articles, selected: this.selected, mode: this.mode}"></fc-archive-table>
        </div>
        <div class="col-1">
            <fc-archive-panel cmParams="{mode: this.mode, selected: this.selected}"></fc-archive-panel>
        </div>
        <div cmIf="this.isEditorEnable()" class="col-5">
            <div class="container">
                <fc-archive-editor cmParams="{mode: this.mode, selected: this.selected}"></fc-archive-editor>
            </div>
        </div>
    </div>
</div>