<div class="container">
    <div class="archive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Handle</th>
                    <th scope="col">Link</th>
                </tr>
            </thead>
            <tbody cmIf="this.articles" cmFor="let article of this.articles">
                <tr id="{{this.article._id}}" class="article {{this.scope.selected && this.article._id === this.scope.selected._id ? 'selected' : ''}}">
                    <th scope="row" >{{this.index + 1}}</th>
                    <td>{{this.article.title}}</td>
                    <td>{{this.article.description}}</td>
                    <td>{{this.article.publishedAt}}</td>
                    <td><a href="{{this.article.url}}">Link</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>