.container-api {
    width: 200px;
    height: 100px;
    background-color: #d8cece;
    padding: 10px 15px;
    border: 1px solid;
}

.center {
    padding-top: 10px;
}

h1 {
    border: 2px solid black;
    background: #95C2DE;
    padding: 20px;
    color: black;
}

h3 {
    border: 2px solid black;
    background: #95C2DE;
    color: black;
    padding: 20px;
}




