.container-api {
    width: 200px;
    height: 100px;
    background-color: #d8cece;
    padding: 10px 15px;
    border: 1px solid;
}

.center {
    padding-top: 10px;
}

.error-api {
    width: 200px;
    padding: 10px;
    background: #ab4141;
    border: 1px solid;
    margin-top: 10px;
    padding: 10px 15px;
    display: none;
}

.error-api span{
    color: white;
}

h1 {
    border: 2px solid black;
    background: #95C2DE;
    padding: 20px;
    color: black;
}

h3 {
    border: 2px solid black;
    background: #95C2DE;
    color: black;
    padding: 20px;
}

.header {
    font-family: "Lucida Bright",Georgia,serif;
    color: #d1c8c8;
}




