<form class="form-inline">
    <div class="container">
        <button type="button" class="btn btn-outline-info my-2 cs-btn" data-toggle="modal" data-target="#signInModal">
            {{this.user && this.user.name ? "Sign Off" : "Sign On"}}
        </button>
    </div>
</form>
<form cmIf="scope.isUserNameDefined()" class="form-inline">
    <p>Ololo</p>
    <div cmSwitch="scope.num">
        <div cmCase="1">
            <p>1</p>
        </div>
        <div cmCase="2">
            <p>2</p>
        </div>
        <div cmCase="3">
            <p>3</p>
        </div>
    </div>
</form>