<div class="page">
    <div class="container-fluid">
        <div class="row"></div>
        <div class="row">
            <div class="col-md-8">
                    <div class="jumbotron">
                        <h1 class="display-3">Wellcome to FrontCamp!</h1>
                        <p class="lead">This is test application</p>
                        <hr class="my-4">
                        <p>Powered by
                            <a href="http://newsapi.org" role="link">News Api.</a>
                        </p>
                    </div>
            </div>
            <div class="col-md-2">
                    <fc-cards-shower cmIf="this.cards" cmParams="{ cards: this.cards.filter(x => x.header !== 'Patterns') }"></fc-cards-shower>
            </div>
            <div class="col-md-2">
                    <fc-cards-shower cmIf="this.cards" cmParams="{ cards: this.cards.filter(x => x.header === 'Patterns') }"></fc-cards-shower>
            </div>
        </div>
    </div>
</div>